<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<command id="com.kamaz.correction_owner_allpk.commands.command" name="Передать права"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="com.kamaz.correction_owner_allpk.commands.command" class="com.kamaz.correction_owner_allpk.Handler">
			<activeWhen>
				<with variable="selection">
					<instanceof value="org.eclipse.jface.viewers.StructuredSelection"/>
					<test property="com.kamaz.selectedforoprole" forcePluginActivation="true"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="com.kamaz.correction_owner_allpk.toolbars.toolbar">
				<command commandId="com.kamaz.correction_owner_allpk.commands.command" icon="icons/icon.png" tooltip="Передача прав состава на владельца ревизии в системе "/>
			</toolbar>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester id="com.kamaz.correction_owner_allpk.Tester" class="com.kamaz.correction_owner_allpk.Tester" type="org.eclipse.jface.viewers.StructuredSelection" properties="selectedforoprole" namespace="com.kamaz"/>
	</extension>
</plugin>